@charset "UTF-8";

* {
    margin: 0px; padding: 0px;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    width: 100%; height: 100vh; overflow: hidden;
}

/* 첫 번째 박스 */
#wrap {
    width: 800px; height: 400px; position: absolute; top:50%; left: 50%; margin-left: -400px; margin-top: -200px; 
}
#wrap .top {
    width: 0%; height: 1px; background: #000; 
    position: absolute; top: 0px; left: 0px;
}
#wrap .right {
    width: 1px; height: 0%; background: #000;
    position: absolute; top: 0px; right: 0px;
}
#wrap .bottom {
    width: 0%; height: 1px; background: #000;
    position: absolute; bottom: 0px; right: 0px;
}
#wrap .left {
    width: 1px; height: 0%; background: #000;
    position: absolute; bottom: 0px; left: 0px;
}
#wrap .con {
    width: 100%; height: 100%; background: #000;
    position: absolute; top: 0px; left: 0px; display: none;
}
#wrap .con .close1 {
    font: bold 14px/1 "arial"; color: #fff; 
    position: absolute; top: 40px; right: -40px; opacity: 0;
}
/* 두 번째 박스 */
#wrap2 {
    width: 100%; height: 0px; background: #000;
    position: absolute; left: 0px; top: 50%; margin-top: 0px;
}
#wrap2 .close2 {
    font: bold 14px/1 "arial"; color: #fff; 
    position: absolute; top: 40px; right: -40px; opacity: 0;
}

/* 버튼 그룹 */
.btns {
    width: 800px; position: absolute; top: 50%;
    margin-top: 220px; left: 50%; margin-left: -400px;
}
.btns li {
    float: left; margin-right: 20px;
}
.btns li:last-child {
    margin-right: 0px;
}
.btns li a {
    display: block; width: 390px; height:  40px; background: #444; font: bold 12px/40px "arial"; color: #bbb; text-align: center;
}
.btns li a.on {
    background: #111; color: #fff;
}